/.cache/
/elpaca/
/quelpa/
/elpa/*
/eln-cache/
/elisp-autofmt-cache/
/eshell/history
/straight/
/tmp/
/.extension/
/dirvish/
/emms/
/elfeed/
/forge-database.sqlite
/image-dired/
/projects
/recentf
/session*
/tramp
/transient/
/tree-sitter/
/url/
/.org-id-locations
/cursory-latest-state.eld
/custom.el
/dmenu-items
/eshell/
/.dap-breakpoints
/.mc-lists.el
/request/
/ielm-history.eld
/persist/
/hackernews/
/forge-database-v13-20250217-1103.sqlite
/multisession/
.aider*
/places
/modules/.nrepl-port
/history
/diredful-conf.el
/elfeed-feeds.el
/detached/
/eaf/
/elfeed.org
/bookmarks
/var/
/tutorial/
/.dir-locals.el
/README.org
/org-supertag/
/todo.org
/network-security.data
/TODO.org
/fontaine-latest-state.eld
/newsticker/
/modules/lang/*.el
/skewer-cache/
/clomacs/*/cache/
/clomacs/*/.cpcache/
/TODO.pdf
*.sqlite
/auto-save-list/
/howm-d3.js
/howm-graph.html
/org-workbench-db.el
.chatgpt-shell.el
.aider.input.history
