/.cache/
/elpaca/
/quelpa/
/elpa/
/eln-cache/
/elisp-autofmt-cache/
/eshell/history
/straight/
/tmp/
/.extension/
/dirvish/
/emms/
/elfeed/
/forge-database.sqlite
/image-dired/
/projects
/recentf
/session*
/tramp
/transient/
/tree-sitter/
/url/
/.org-id-locations
/cursory-latest-state.eld
/custom.el
/dmenu-items
/eshell/
/.dap-breakpoints
/.mc-lists.el
